In [1]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in d:\users\gustavo\anaconda3\lib\site-packages (8.3.0)

In [2]:
import mysql.connector as connector

In [6]:
connection = connector.connect(user = "root", password = "GustavoSQL9586!",port = 3306, host="localhost", db = "mydb")

In [7]:
cursor = connection.cursor()

In [8]:
show_tables_query = "SHOW TABLES"
cursor.execute(show_tables_query)

In [9]:
results = cursor.fetchall()

# Print the list of tables
print(results)

[('bookings',), ('customer',), ('menu',), ('menuitems',), ('orderdeliverystatus',), ('orders',), ('ordersview',), ('staffinformation',)]

In [10]:
# SQL query with JOIN and WHERE clause
query = """
    SELECT customer.name, customer.contact_details, orders.total_cost
    FROM customer
    JOIN orders ON customer.customer_id = orders.customer_customer_id
    WHERE orders.total_cost > 60
"""

In [11]:
cursor.execute(query)

In [12]:
results = cursor.fetchall()

In [13]:
for row in results:
    print(row)

('Ale', '123', Decimal('171.00'))
('Kouichi', '321', Decimal('174.00'))
('John Doe', 'john.doe@example.com', Decimal('358.00'))
('Jane Doe', 'jane.doe@example.com', Decimal('265.00'))
('Alice', 'alice@example.com', Decimal('252.00'))
('Bob', 'bob@example.com', Decimal('465.00'))
('Charlie', 'charlie@example.com', Decimal('65.00'))
('David', 'david@example.com', Decimal('437.00'))
('Emily', 'emily@example.com', Decimal('484.00'))
('Frank', 'frank@example.com', Decimal('111.00'))